<div class="relative flex h-full w-full flex-col items-center justify-center">
  <!-- Fondo difuminado de la pantalla -->
  <div
    class="bg-image-1 absolute inset-0 -z-10 bg-[url('https://media.istockphoto.com/id/1189999060/es/vector/ilustraci%C3%B3n-de-stock-de-animal-paw-seamless-pattern.jpg?s=612x612&w=0&k=20&c=cG5fdowCDCOVY10Lf1DEOdeTwkEm4lygRCaczZ_bjNo=')] blur-sm"
  ></div>

  <!-- Formulario de inicio de sesión -->
  <form
    class="flex h-2/5 w-1/3 flex-col items-center justify-center gap-7 rounded-lg bg-white px-8 shadow-2xl"
    (ngSubmit)="onSignIn()"
  >
    <div class="flex w-full flex-col gap-2">
      <h1 class="cursor-default">Usuario</h1>
      <input class="input-style-1" type="email" placeholder="usuario" />
    </div>

    <div class="flex w-full flex-col gap-2">
      <h1 class="cursor-default">Contraseña</h1>
      <input class="input-style-1" type="password" placeholder="contraseña" />
    </div>

    <button class="button-style-2 w-full" (click)="onSignIn()">Sign in</button>
  </form>
</div>

<!-- Prueba de pantalla loading -->
<!-- Cambiar cuando se implemente la logica de autenticación -->
<!-- <app-loading-page /> -->


