


  

  /* Aplica un padding general al contenedor del componente */
:host {
    display: block;
    padding: 3rem;
}

/* Contenedor superior que agrupe título y botón */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

/* Botón registrado, se alinea a la derecha */
.bt-1 {
    margin-left: auto;
    /* Margen a la derecha, si lo deseas */
    margin-right: 1rem;
}
.text-title {
    font-size: 2rem;
    font-weight: 600;
    color: #2c3e50;
    margin: 0;
    padding: 0.5rem 0;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}