<p-dialog
  header="Información del cliente: {{cliente.nombre}}"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '50rem' }"
  [autoZIndex]="true"
  [maximizable]="true"
  (onHide)="closeDialog()"
>
  <div class="grid grid-cols-2 gap-4">
    <div>
      <h1 class="cursor-default">Nombre</h1>
      <p>{{ cliente.nombre }}</p>
    </div>
    <div>
      <h1 class="cursor-default">Apellido</h1>
      <p>{{ cliente.apellido }}</p>
    </div>
    <div>
      <h1 class="cursor-default">DNI</h1>
      <p>{{ cliente.dni }}</p>
    </div>
    <div>
      <h1 class="cursor-default">Teléfono</h1>
      <p>{{ cliente.telefono }}</p>
    </div>
    <div>
      <h1 class="cursor-default">Correo</h1>
      <p>{{ cliente.email }}</p>
    </div>
    <div>
      <h1 class="cursor-default">Dirección</h1>
      <p>{{ cliente.direccion }}</p>
    </div>
  </div>

  <div class="mt-4">
    <h2 class="cursor-default  ">Mascotas</h2>
    <div *ngIf="mascotas.length > 0; else noMascotas">
      <div *ngFor="let mascota of mascotas" class="grid grid-cols-2 gap-4">
        <div>
          <h1 class="cursor-default">Nombre de la mascota</h1>
          <p>{{ mascota.nombre }}</p>
        </div>
        <div>
          <h1 class="cursor-default">Raza</h1>
          <p>{{ mascota.raza }}</p>
        </div>
        <div>
          <h1 class="cursor-default">Edad</h1>
          <p>{{ mascota.edad }}</p>
        </div>
        <div>
          <h1 class="cursor-default">Peso</h1>
          <p>{{ mascota.peso }}</p>
        </div>
        <div>
          <h1 class="cursor-default">Sexo</h1>
          <p>{{ mascota.sexo }}</p>
        </div>
      </div>
    </div>
    <ng-template #noMascotas>
      <p>No hay mascotas asociadas a este cliente.</p>
    </ng-template>
  </div>

  <div class="mt-4 flex justify-center">
    <p-button label="Cerrar" (click)="closeDialog()"></p-button>
  </div>
</p-dialog>