<div class="p-4 flex">
    <div class="w-3/4 pr-4">
        <h2 class="text-lg font-bold text-center mb-3">Consultar Stock</h2>

        <input type="text" pInputText placeholder="Buscar producto..." (input)="filtrarTabla($event)" class="w-full mb-3"/>
        
        <div class="mb-4 flex justify-center">
            <p-message *ngIf="filteredProductos.length === 0" severity="info" text="⚠️ 0 registros encontrados." closable="true"></p-message>
        </div>

        <p-table [value]="filteredProductos" [paginator]="true" [rows]="5">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Stock</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-producto>
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.stock }}</td>
                    <td>S/ {{ producto.precio }}</td>
                    <td>
                        <button pButton class="p-button-danger p-1" (click)="disminuirCantidad(producto)">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button pButton class="p-button-primary p-1 ml-2" (click)="aumentarCantidad(producto)">
                            <i class="fas fa-plus"></i>
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="w-1/4 p-4 bg-gray-100 shadow-md rounded">
        <h3 class="text-xl font-bold mb-3">Resumen del Pedido</h3>

        <div *ngFor="let producto of productosSeleccionados">
            <div class="flex justify-between">
                <span>{{ producto.nombre }} ({{ producto.cantidad }})</span>
            </div>
        </div>

        <button pButton label="Generar Orden de Pago" class="p-button-success w-full mt-3" (click)="irAOrdenPago()"></button>
    </div>
</div>
