.p-error {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-item-full {
    grid-column: span 2;
}

.p-dialog {
    width: 600px !important;
    height: 400px !important;
}
