<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [style]="{width: '100%', maxWidth: '600px'}"
  [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
  (onHide)="closeDialog()"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <div class="flex items-center justify-center gap-2">
      <span class="whitespace-nowrap font-bold text-lg">Registrar Cliente</span>
    </div>
  </ng-template>

  <form
    [formGroup]="clienteForm"
    (ngSubmit)="registrarCliente()"
    class="grid grid-cols-1 sm:grid-cols-2 gap-4 w-full"
  >
    <div class="flex flex-col space-y-1">
      <label class="text-sm font-medium cursor-default">Nombre</label>
      <input
        class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
        type="text"
        placeholder="Nombre"
        formControlName="nombre"
      />
      <p-message
        *ngIf="
          clienteForm.get('nombre')?.touched &&
          clienteForm.get('nombre')?.invalid
        "
        severity="error" variant="simple" size="small"
      >
        El nombre es obligatorio.
      </p-message>
    </div>
    
    <div class="flex flex-col space-y-1">
      <label class="text-sm font-medium cursor-default">Apellido</label>
      <input
        class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
        type="text"
        placeholder="Apellido"
        formControlName="apellido"
      />
      <p-message
        *ngIf="
          clienteForm.get('apellido')?.touched &&
          clienteForm.get('apellido')?.invalid
        "
        severity="error" variant="simple" size="small"
      >
        El apellido es obligatorio.
      </p-message>
    </div>
    
    <div class="flex flex-col space-y-1">
      <label class="text-sm font-medium cursor-default">DNI</label>
      <input
        class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
        type="number"
        placeholder="DNI"
        formControlName="dni"
      />
      <p-message
        *ngIf="
          clienteForm.get('dni')?.touched && clienteForm.get('dni')?.invalid
        "
        severity="error" variant="simple" size="small"
      >
        El DNI es obligatorio y debe tener 8 dígitos.
      </p-message>
    </div>
    
    <div class="flex flex-col space-y-1">
      <label class="text-sm font-medium cursor-default">Teléfono</label>
      <input
        class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
        type="number"
        placeholder="Teléfono"
        formControlName="telefono"
      />
      <p-message
        *ngIf="
          clienteForm.get('telefono')?.touched &&
          clienteForm.get('telefono')?.invalid
        "
        severity="error" variant="simple" size="small"
      >
        El teléfono es obligatorio, debe contener sólo números y tener 9 dígitos.
      </p-message>
    </div>
    
    <div class="flex flex-col space-y-1">
      <label class="text-sm font-medium cursor-default">Direccion</label>
      <input
        class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
        type="text"
        placeholder="Direccion"
        formControlName="direccion"
      />
      <p-message
        *ngIf="
          clienteForm.get('direccion')?.touched &&
          clienteForm.get('direccion')?.invalid
        "
        severity="error" variant="simple" size="small"
      >
        El domicilio es obligatorio.
      </p-message>
    </div>
    
    <div class="flex flex-col space-y-1">
      <label class="text-sm font-medium cursor-default">Correo</label>
      <input
        class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
        type="text"
        placeholder="Correo"
        formControlName="correo"
      />
      <p-message
        *ngIf="
          clienteForm.get('correo')?.touched &&
          clienteForm.get('correo')?.invalid
        "
        severity="error" variant="simple" size="small"
      >
        Ingrese un correo válido.
      </p-message>
    </div>
    
    <div class="col-span-1 sm:col-span-2 mt-4 flex justify-center sm:justify-end">
      <p-button
        type="submit"
        label="Registrar"
        styleClass="w-full sm:w-auto"
      ></p-button>
    </div>
  </form>
</p-dialog>
