@tailwind base;
@tailwind components;
@tailwind utilities;

/* Se definen las variables CSS en esta sección */
:root {
  --background-color: #fff;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
}

/* Define un boton customizado 1 (boton azul) con Tailwind CSS */
.button-style-1 {
  @apply rounded-full bg-sky-500 px-5 py-2 text-sm font-semibold leading-5 text-white hover:bg-sky-700;
}

/* Define un boton customizado 2 (boton negro) con Tailwind CSS */
.button-style-2 {
  @apply flex-shrink-0 rounded-lg bg-black px-4 py-2 text-base font-semibold text-white shadow-md hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 focus:ring-offset-purple-200;
}

/* Define un input customizado 1 con Tailwind CSS */
.input-style-1 {
  @apply flex-1 appearance-none rounded-lg border border-gray-200 bg-white pl-4 pr-10 py-2 text-base text-gray-700 placeholder-gray-400 shadow-md focus:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600;
}

/* Define una imagen de fondo customizado con Tailwind CSS */
.bg-image-1 {
  @apply h-full w-full bg-cover bg-center bg-no-repeat;
}
